/* Import IBM Plex fonts */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,400,500,600,700|IBM+Plex+Mono:100,200,300,400,500,600,700&display=swap');


/* Override with Carbon's color tokens */
:root {
  --md-primary-fg-color: #393939;
  /* Blue 60 */
  --md-accent-fg-color: #198038;
  /* Green 50 */
  --md-default-fg-color: #161616;
  /* Gray 100 */
  --md-default-bg-color: #ffffff;
  /* White 0 */

  --md-primary-bg-color: #f2f4f8;
  /* Gray 10 */
  --md-accent-bg-color: #e0e0e0;
  /* Gray 30 */

  /* Text colors */
  --md-text-primary-on-background: #161616;
  /* Gray 100 */
  --md-text-secondary-on-background: #525252;
  /* Gray 80 */
  --md-text-disabled-on-background: #8d8d8d;
  /* Gray 60 */
  --md-text-hint-on-background: #8d8d8d;
  /* Gray 60 */

  --md-text-primary-on-primary: #ffffff;
  /* White 0 */
  --md-text-secondary-on-primary: #ffffff;
  /* White 0 */

  --md-text-primary-on-accent: #ffffff;
  /* White 0 */
  --md-text-secondary-on-accent: #ffffff;
  /* White 0 */
}

/* Typography */
body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

code {
  font-family: 'IBM Plex Mono', monospace;
}

/* IBM Carbon Button */
.ibm-carbon-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #3D70B2;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.ibm-carbon-button:hover {
  background-color: #1F3C70;
}