@import '../node_modules/@carbon/styles/css/styles.css';

.navbar {
    background-color: black
}
.navbar__title  {
    color: white;
    font-weight: bold
}
.navbar__link {
    color: white
}
.container {
    max-width: 90%;
}

.menu__link--active {
    font-weight: bold;
    color: #000309
}

.table-of-contents__link:hover, .table-of-contents__link:hover code, .table-of-contents__link--active, .table-of-contents__link--active code {
    color: black;
    text-decoration: none;
}
.breadcrumbs__item--active .breadcrumbs__link {
    background: rgb(244 244 244);
    color: black
}
.pagination-nav__link {
    color: black;
}
.footer {
    background: #000000
}
.footer__link-item {
    color: white
}
.footer__title {
    color: white
}